<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2ZFNy2eu9e4x-QmXQ8mqyI75UloSEOrs</string>
	<key>GCM_SENDER_ID</key>
	<string>862009695575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreAppTi43</string>
	<key>PROJECT_ID</key>
	<string>firestore-ba193</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-ba193.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862009695575:ios:d3bcfc2e3addeef7a63212</string>
</dict>
</plist>